.button {
    font: inherit;
    border: 1px solid black;
    background: antiquewhite;
    color: black;
    padding: 0.25rem 1rem;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    background:rgb(255, 192, 111);
    border-color: black;
  }
  
  .button:focus {
    outline: none;
  }